.portfolio-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #393e46 50%, #222831 50%);
}
.portfolio-container .portfolio {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.portfolio-container .portfolio .card {
  position: absolute;
  width: 200px;
  height: 300px;
  background: #eee;
  transition: 0.5s;
}
.portfolio-container .portfolio .card:nth-child(-4) {
  transform: rotate(-180 deg);
}
.portfolio-container .portfolio .card:nth-child(-3) {
  transform: rotate(-135 deg);
}
.portfolio-container .portfolio .card:nth-child(-2) {
  transform: rotate(-90 deg);
}
.portfolio-container .portfolio .card:nth-child(-1) {
  transform: rotate(-45 deg);
}
.portfolio-container .portfolio .card:nth-child(0) {
  transform: rotate(0 deg);
}
.portfolio-container .portfolio .card:nth-child(1) {
  transform: rotate(45 deg);
}
.portfolio-container .portfolio .card:nth-child(2) {
  transform: rotate(90 deg);
}
.portfolio-container .portfolio .card:nth-child(3) {
  transform: rotate(135 deg);
}