// $main-bg-color: #222831;
// $sub-bg-color: #393e46;
// $point-color: #ffd369;
// $text-color-bright: #eee;
// $text-color-dark: #222831;

$main-bg-color: #eee0c9;
$sub-bg-color: #adc4ce;
$point-color: #96b6c5;
$text-color-bright: #f1f0e8;
$text-color-dark: #222831;
